# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and release outputs (built in CI/CD)
dist/

# OS metadata
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
